# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName www.sigmarstudios.com
AuthUserFile /var/chroot/home/content/r/o/b/robert0362/html/_vti_pvt/service.pwd
AuthGroupFile /var/chroot/home/content/r/o/b/robert0362/html/_vti_pvt/service.grp
