body {
	background: Black;
	font-family: "Palatino Linotype";
	font-size: medium;
	color: WHITE;
}
A:link {
	color: Silver;
}
A:visited {
	color: White;
}
Home {
	
	font-family: sans-serif; 
}

Navbar {
	
}

Navheader {
	text-align: center;
}
MainHeader{
	
}

MainBody {
	
}

TopRight {
	
}

MiddleRight {
	
}

BottomRight {
	
}

Footer {
	
}
